body {
	background-color:#303030;
	color: white;
}
a {
	color: white;
	text-decoration: none;
}

.text_source {
	min-height:100px;
	padding:2px;
	background-color: brown;
}

.text_source_over {
	min-height:100px;
	padding:2px;
	background-color: #4d0000;
}

.drop_over {
	min-height:100px;
	background-color: green;
}

.droppable {
	min-height:100px;
	margin: 2px;
	background-color: gray;
}
