{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="content">
	<a href="/">Menu</a>
    <h1>CVmaker</h1>

    <form action="/cvmaker" method="POST" enctype='multipart/form-data'>
        <label for="img">Choisir image</label>
        <input type="file" accept=".jpeg" name="img" id="img">
        <label for="json">Choisir .json</label>
        <input type="file" accept=".json" name="json" id="json">
        <div>
            <input type="radio" id="dense" name="interval" value="dense">
            <label for="dense">Dense</label>
        </div>
        <div>
            <input type="radio" id="medium" name="interval" value="medium" checked>
            <label for="medium">Medium</label>
        </div>
        <div>
            <input type="radio" id="light" name="interval" value="light">
            <label for="light">Light</label>
        </div>
        <input type="submit" value="Generate">
    </form>
</div>
{% endblock %}
