{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<h1>Taktik</h1>
<p>Taktik est un logiciel d'automatisation de recherche d'emploi générique.<br/>
Son ambition est de permettre la prospection automatisée, un système basique de mailing liste, des statistiques sur les recherches et le marché du travail, un générateur de CV automatique.</p>
<a href="prospection">prospection</a>
<a href="mailing">mailing</a>
<a href="statistics">statistics</a>
<a href="cvmaker">cvmaker</a>
{% endblock %}
