{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="content">
	<a href="/">Menu</a>
    <h1>Mail update</h1>

    <form action="/mailing/update/{{mail.id}}" method="POST" enctype='multipart/form-data'>
        <label for="target">Target</label>
        <input type="text" name="target" id="target" value="{{ mail.target }}">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" value="{{ mail.subject }}">
        <label for="body">Body</label>
        <input type="text" name="body" id="body" value="{{ mail.body }}">
        <label for="attachement">Attachement</label>
        <input type="file" accept=".pdf" name="attachement" id="attachement" value="{{ mail.attachement }}">
        <label for="status">Status</label>
        <input type="text" name="status" id="status" value="{{ mail.status }}">
        <input type="submit" value="Update Mail">
    </form>
</div>
{% endblock %}
