{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<div class="content">
	<a href="/">Menu</a>
    <h1>Mailing</h1>

    <table>
        <tr>
            <th>Target</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Attachement</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for mail in mails %}
        <tr>
            <td>{{ mail.target }}</td>
            <td>{{ mail.subject }}</td>
            <td>{{ mail.body }}</td>
            <td>{{ mail.attachement }}</td>
            <td>{{ mail.status }}</td>
            <td>
                <a href="/mailing/delete/{{mail.id}}">Delete</a>
                <a href="">Duplicate</a>
                <a href="">Send</a>
                <a href="/mailing/update/{{mail.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/mailing" method="POST" enctype='multipart/form-data'>
        <label for="target">Target</label>
        <input type="text" name="target" id="target">

        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject">

        <label for="body">Body</label>

        <input type="radio" id="body_file" name="body_type" value="file" checked="checked">
        <label for="body_file">File type</label>

        <input type="radio" id="body_text" name="body_type" value="text">
        <label for="body_text">Text type</label>

        <div id="body_text_div">

            <div onDragStart="start(event)" onDragOver="return overback(event)" onDrop="return dropback(event)"
                onDragLeave="leaveback(event)" class="text_source" id="text_source">
            </div>
            <div onDragStart="start(event)" onDragOver="return over(event)" onDrop="return drop(event)"
                onDragLeave="leave(event)" class="droppable" id="droppable">
            </div>

            <textarea name="body" id="body" hidden></textarea>
            <textarea name="add_txt" id="add_txt"></textarea>
            <button type="button" id="add_txt_btn">Add text</button>
        </div>

        <div id="body_file_div">
            <input type="file" accept=".txt" name="body_file" id="body_file">
        </div>

        <label for="attachement">Attachement</label>
        <input type="file" accept=".pdf" name="attachement" id="attachement">

        <!--
        <label for="status">Status</label>
        <select name="status" id="status">
            <option value="created">Created</option>
        </select>-->
        <input type="submit" value="Add Mail">
    </form>
</div>
{% endblock %}
