{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
	<a href="/">Menu</a>

	<h1>Prospection</h1>

	<p> La fonctionnalité de prospection lance des scrapeurs à la recherche d'offres d'emploi suceptibles de vous intéresser.<br/>
	C'est la première étape vers l'envoi de CV et de postulations automatiques.<br>
	Ne vous attendez pas à des resultats immediats, les robots vous ferons signe lorsque votre recherche sera terminée.</p>

	<input type="text">
	<button type="submit">Prospect!</button>
{% endblock %}
